<!DOCTYPE html>
<html>
<head>
<title>Login Admin</title>
<style>
body {
    background: #0a0015;
    color: white;
    text-align: center;
    font-family: Arial;
}

.box {
    margin-top: 150px;
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: purple;
    color: white;
    border: none;
}
</style>
</head>
<body>

<div class="box">
<h1>Login Admin</h1>

<form method="POST">
<input name="username" placeholder="Usuário"><br>
<input name="password" type="password" placeholder="Senha"><br>
<button>Entrar</button>
</form>

</div>

</body>
</html>